*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ffffff;
    color: rgb(2, 41, 167);
}

header{
    font-size: 2vw;
    width: 100vw;
    height: 100px;
    background-color: #171e3b;
    color: white;
    display: flex;
    border: 30px;
    padding: 30px;
    box-shadow: 0px 2px 6px #171e3b;
}

.manchete{
    width: 60%;
    height:300px;
    color: white;
    text-align: left;
    line-height: 150px;
    margin: 10px;
}



 img{
    width: 10vw;
    height: 20vh;
    padding: 10px;
    margin: 10px;
    margin-right: 50px;
    display: flex;
 }

.card{
        color:#171e3b;
        border-radius: 30px;
        padding: 30px;
        box-shadow: 0px 2px 6px black; 
        width: 100%;
        text-align: center;
        margin: 18px;
}

@media (max-width:1024px) {
    .card{
        width: 45%;
    }
}
@media (max-width:600px) {
    .main{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    header, footer {
        text-align: center;
    }
}