body{
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    background-color: azure;
    color: #28288b;
}

header, footer{
    text-align: center;
    background-color: #28288b;
    color: white;
    padding: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 150px 150px;
    gap: 15px;
    padding: 20px;
    background-color: bisque;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
}

.item {
    background-color:#28288b ;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    background-color: #28288b;
    grid-column: 1 /3; /*ocupa da coluna i ate a 3*/
    grid-row: 1/2; /* ocupa a 1 ate a 2*/
}

.item3 {
    background-color: #8b2886;
    grid-column: 3 / 4; /*ocupa da coluna i ate a 3*/
    grid-row: 1 / 3; /* ocupa a 1 ate a 2*/
}

.item4  {
    background-color: aquamarine;
}