/* Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(208, 105, 255);
    color: palevioletred;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    min-height: 100vh;
}


.header {
    background-color: #8282e9;
    grid-area: header;
    color: white;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 10px;
    display: flex;
    gap: 20px;

}

.menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu:hover {
 font-size: large;
 background-color: #6b6be4;
}

.sidebar ul{
    list-style: none;
}

.sidebar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.sidebar a:hover {
    background-color: rgb(199, 132, 243);
    border-radius: 4px;
    padding-left: 10px;
}

.content {
    grid-area: content;
    background-color: white;
    padding: 20px;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.produto {
    background-color: WHITE;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
}

.footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

