.body{
    background-color: brown;
}
.navegação{
    padding: 5px;
    margin: 5px;
    justify-content: center;
    display: flex;
}

.menu{
    color: aqua;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    background-color: black;
    border-radius: 15px;
}

.div1{
    justify-content: center;
    display: flex;
}

.menu{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imagem1{
    width: 300px;
    height: 250px;
    border: 10px solid red;
}

.primeiro_paragrafo{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: black;
    border: 5px solid pink;
}


.tema{
    padding: 20px;
    margin: 20px;
}